{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{% static 'style1.css' %}">
</head>
<body>
    <nav>
        <a href="/login/">Login</a>
        <a href="/signup/">Signup</a>
        <a href="/logout/">Logout</a>
    </nav>

    <h2>Welcome, {{ request.user.username }}</h2>

    <div class="profile-container">
        <h3>Your Profile</h3>
        <ul>
            <li><strong>First Name:</strong> {{ profile_detail.firstname }}</li>
            <li><strong>Last Name:</strong> {{ profile_detail.lastname }}</li>
            <li><strong>Email:</strong> {{ profile_detail.email }}</li>
            <li><strong>Phone:</strong> {{ profile_detail.phone }}</li>
            <li><strong>Address:</strong> {{ profile_detail.address }}</li>

            <a href="{% url 'admin_edit' %}">Edit Profile</a>

        </ul>
       
    </div>

</body>
</html>
 